table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px!important;
}


.card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-top: 10%;
  padding: 10px;
}
