<div class="card">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Pessoas</mat-card-title>
      <mat-card-subtitle>Listagem dos registros de Pessoas</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div fxFlex="10">
          <button mat-raised-button color="primary" (click)="create()">Novo
          </button>
        </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Pessoas
        Cadastradas
      </mat-card-title>
      <mat-card-subtitle>Listagem dos pessoas cadastrados no serviço no backend</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>

      <div>
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id
            </th>
            <td mat-cell *matCellDef="let row"> {{row.id}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <ng-container matColumnDef="nameFather">
            <th mat-header-cell *matHeaderCellDef>Nome do pai</th>
            <td mat-cell *matCellDef="let row"> {{row.nameFather}}</td>
          </ng-container>

          <ng-container matColumnDef="nameMother">
            <th mat-header-cell *matHeaderCellDef>Nome da mãe</th>
            <td mat-cell *matCellDef="let row"> {{row.nameMother}} </td>
          </ng-container>

          <ng-container matColumnDef="typePerson">
            <th mat-header-cell *matHeaderCellDef>Tipo de Pessoa</th>
            <td mat-cell *matCellDef="let row"> {{row.typePerson}} </td>
          </ng-container>

          <ng-container matColumnDef="dateBirth">
            <th mat-header-cell *matHeaderCellDef>Data nascimento</th>
            <td mat-cell *matCellDef="let row"> {{row.dateBirth}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <div fxLayout="row" fxLayoutAlign="space-evenly">
                <button mat-icon-button color="accent" (click)="update(row)">
                  <mat-icon class="mat-18">edit</mat-icon>
                </button>

                <button mat-icon-button color="warn" (click)="delete(row)">
                  <mat-icon class="mat-18">delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator matTooltip="Definir a quantidade de registros que serão apresentados na tela."
                       [pageSizeOptions]="itemsPerPagePagination"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

</div>
