.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: start;
  padding: 5px;
}

.btn {
  margin: 5px;
}
