<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-card class="card mat-elevation-z4">

    <mat-card-header>
      <mat-card-title>Autenticação</mat-card-title>
      <mat-card-subtitle>Realizar Login</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

     <div class="formulario">
       <mat-form-field hintLabel="Campo obrigatório">
         <mat-label>Usuário</mat-label>
         <input matInput
                type="text"
                placeholder="Exemplo: maikonmcp"
                maxlength="16"
                minlength="3"
                required
                formControlName="login"
         />
       </mat-form-field>

       <mat-form-field hintLabel="Campo obrigatório">
         <mat-label>Senha</mat-label>
         <input matInput
                type="password"
                placeholder="Exemplo: ******"
                maxlength="16"
                minlength="3"
                required
                formControlName="password"
         />
       </mat-form-field>
     </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Entrar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
