<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/">Início</a>
      <a mat-list-item href="/persons">Pessoas</a>
      <a mat-list-item href="/operators">Operadores</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="nav-toolbar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Sistema de cadastro de Pessoas</span>
      <span class="bar-spacer"></span>
      <div class="infos">
        <span>
          Login:
          {{currentUser.login}}
        </span>
        <span>
          Perfil:
          {{currentUser.roleDescription}}
        </span>
        <span class="btn-logout" matTooltip="Sair do Sistema">
          <mat-icon (click)="logout()">exit_to_app</mat-icon>
        </span>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>


